/* === Importing Helpers === */

@import "_helpers/_variables.scss";
@import "_helpers/_mixins.scss";

/* === Main Style === */

* {
    box-sizing: border-box;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* === Importing Layout === */

@import "_layout/_header.scss";
