/* === Importing Helpers === */

@import "helpers/variables.scss";
@import "helpers/mixins.scss";

/* === Main Style === */

* {
    box-sizing: border-box;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* === Importing Layout === */

@import "layout/header.scss";
