/* === Importing Helpers === */

@import "_helpers/_variables.scss";
@import "_helpers/_mixins.scss";

/* === Main Style === */

* {
    box-sizing: border-box;
}

body {
    height: 4000px;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

i.icon, i.icons {
    margin: 0;
}

/* === Importing Layout === */

@import "_layout/_header.scss";
@import "_components/_carousel1.scss";
@import "_layout/_products.scss";
