/* === Header === */

header {
    section {
        background: $headerbg;
        height: 50px;
        @include flexbox(space-between);
        ul li {
            display: inline-block;
            padding: $zero $ten;
            &:not(:last-child) {
                border-right: 1px solid $headerlinkcolor;
            }
            a {
                display: block;
                color: $headerlinkcolor;
                &:hover {
                    color: $headerlinkhover;
                }
            }
        }
        div form:hover input {
            width: 190px;
            &::-webkit-input-placeholder {
               font-size: initial;
            }
            &:-moz-placeholder {
               font-size: initial;
            }
            &::-moz-placeholder {
               font-size: initial;
            }

            &:-ms-input-placeholder {
               font-size: initial;
            }
        }
        div form button {
            color: $headerlinkcolor;
            background: $transparent;
            border: $zero;
            padding: 5px 2px;
            outline: $zero;
            transform: translateX(-25px);
        }
        div form input {
            border-right: $zero;
            border-radius: 15px;
            border: 2px solid $headerlinkcolor;
            outline: $zero;
            padding: 5px $ten;
            width: 30px;
            transition: width 0.5s ease-in-out;
            &::-webkit-input-placeholder {
               font-size: $zero;
            }
            &:-moz-placeholder {
               font-size: $zero;
            }
            &::-moz-placeholder {
               font-size: $zero;
            }

            &:-ms-input-placeholder {
               font-size: $zero;
            }
        }

    }
}
