/* === Importing Helpers === */
@import "../_helpers/_variables.scss";
@import "../_helpers/_mixins.scss";

/* === Importing Layout === */
@import "../_layout/_header.scss";
@import "../_layout/_footer.scss";

/* === Main Style === */
@include mainstyle;
@include image-bg;

/* === Product === */

header ~ main {
    padding: 60px 0 !important;
    .col:first-child {
        padding: $ten;
        > div:first-child {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            margin-bottom: 25px;
            border: 1px solid #c8c8c8;
            border-radius: 3px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
            img {
                width: 100%;
            }
        }
        #product-slider {
            @include flexbox;
            width: 100%;
            &:hover i.fa.fa-angle-right.slick-arrow,
            &:hover i.fa.fa-angle-left.slick-arrow {
                opacity: 1;
                visibility: visible;
            }
            .slick-slide {
                height: 70px;
                margin: 0 27px;
                border-radius: 3px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                img {
                    width: 100%;
                }
            }
            .slick-list {
                margin: 0 -27px;
            }
            i.fa.fa-angle-right.slick-arrow,
            i.fa.fa-angle-left.slick-arrow {
                font-size: 23px;
                width: 35px;
                height: 35px;
                line-height: 35px;
                cursor: pointer;
                color: $textColor;
                opacity: 0;
                visibility: hidden;
                z-index: 9;
                transition: all 0.3s ease-in-out;
            }
            i.fa.fa-angle-right.slick-arrow {
                transform: translateX(5px);
            }
            i.fa.fa-angle-left.slick-arrow {
                transform: translateX(-2px);
            }
        }
    }
    .col:last-child {
        padding: $ten;
        text-align: left;
        h3 {
            margin: 10px 0;
        }
        div:first-of-type {
            margin-bottom: 30px;
            span {
                font-size: 16px;
                font-weight: bold;
                &.discount{
                    font-size: 14px;
                    color: $textColor;
                    font-style: italic;
                    text-decoration: line-through;
                    margin-right: 5px;
                }
                &.price {
                    color: $mainColor;
                }
            }
        }
        p {
            font-size: 16px;
            color: $textColor;
            margin: 0;
        }
        div:nth-of-type(2) {
            margin: 15px 0;
            span {
                font-size: 16px;
                &.available {
                    color: green;
                }
                &.unavailable {
                    color: red;
                }
            }
        }
        div:last-of-type {
            margin-bottom: 15px;
            input {
                width: 30px;
                height: 30px;
                border: 1px solid $textColor;
                text-align: center;
                outline: $zero;
                margin-right: 15px;
            }
            button {
                @include main-button;
            }
        }
        a {
            color: $textColor;
            font-size: 16px;
            margin-right: $ten;
            &:hover {
                color: $mainColor;
            }
            > i {
                margin-right: 5px;
            }
        }
    }
    // Media Queries
    .container {
        @media (max-width: 767px) {
            .span_6_of_12 {
                width: 100% !important;
            }
            .col {
                margin-left: 0;
                text-align: center;
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .span_6_of_12 {
                width: 100% !important;
            }
            .col {
                margin-left: 0;
            }
        }
        @media (min-width: 992px) and (max-width: 1199px) {

        }

        @media (min-width: 1200px) {

        }
    }
}

main ~ section {
    .container > .col {
        padding: $ten;
        margin-left: 0;
        > ul {
            text-align: left;
            li {
                display: inline-block;
                padding: 10px 20px;
                background: $textColor;
                margin-right: 5px;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                color: $white;
                font-size: 17px;
            }
        }
        > div {
            padding: 10px 15px;
            border: 1px solid $headerlinkcolor;
            text-align: left;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            &#reviews {
                form {
                    label {
                        display: block;
                        text-align: left;
                        margin: 10px 0px;
                        i {
                            color: $mainColor;
                            font-size: $ten !important;
                            transform: translateY(-5px);
                        }
                    }
                    textarea {
                        resize: vertical;
                    }
                    input[type="text"], input[type="email"], textarea {
                        width: 100%;
                        border: 1px solid $headerlinkcolor;
                        padding: 5px $ten;
                        margin-bottom: 15px;
                        outline: $zero;
                    }
                    button[type="submit"] {
                        @include main-button;
                    }
                }
            }
            &#products {
                .col {
                    > div {
                        height: 370px;
                        padding: 10px;
                        text-align: left;
                        border: 1px solid $headerlinkcolor;
                        border-radius: 5px;
                        box-shadow: 1px 0 1px rgba(206, 206, 206, 0.4);
                        &:hover img {
                            transform: translate(-50%, -50%) scale(1.2);
                        }
                        &:hover > div:last-of-type ul li:last-of-type a {
                            background-color: $mainColor;
                        }
                        .image {
                            height: 210px;
                            img {
                                width: 100%;
                                transition: transform 0.5s ease-in-out;
                            }
                        }
                        > div:last-of-type {
                            height: 140px;
                            ul {
                                height: 100%;
                                li {
                                    height: 33.33%;
                                    @include flexbox($justify-content: flex-start);
                                    h4 {
                                        color: $textColor;
                                    }
                                    p {
                                        color: $textColor;
                                        font-weight: bold;
                                        font-size: 20px;
                                    }
                                    &:last-of-type {
                                        a {
                                            @include main-button;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    @media (max-width: 767px) {
                        &.span_3_of_12 {
                            width: 100% !important;
                        }
                        &.col {
                            margin-left: 0;
                            text-align: center;
                        }
                    }
                    @media (min-width: 768px) and (max-width: 991px) {
                        &.span_3_of_12 {
                            width: 32.26% !important;
                        }
                        &.col:nth-child(3n+1) {
                            margin-left: 0;
                        }
                    }
                    @media (min-width: 992px) and (max-width: 1199px) {
                        &.col:nth-child(4n+1) {
                            margin-left: 0;
                        }
                    }

                    @media (min-width: 1200px) {
                        &.col:nth-child(4n+1) {
                            margin-left: 0;
                        }
                    }

                }
            }
        }
    }
}
