/* === Carousel 1 === */

header ~ figure {
    margin: 0!important;
    // new
    padding-top: 56.25%;
    position: relative;
    #main-carousel {
        width: 100%;
        // new
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        &:hover i.angle.right.icon.slick-arrow {
            right: 1%;
        }
        &:hover i.angle.left.icon.slick-arrow {
            left: 1%;
        }
        div > img {
            width: 100%;
        }
        i.angle.right.icon.slick-arrow,
        i.angle.left.icon.slick-arrow {
            font-size: 60px;
            font-weight: bold;
            width: 35px;
            height: 55px;
            line-height: 55px;
            position: absolute;
            top: 50%;
            // margin-top: -15%;
            cursor: pointer;
            color: #666;
            opacity: 0.3;
            z-index: 9;
            transition: all 0.3s ease-in-out;
        }
        i.angle.right.icon.slick-arrow {
            right: -20%;
            &:hover {
                opacity: 1;
            }
        }
        i.angle.left.icon.slick-arrow {
            left: -20%;
            &:hover {
                opacity: 1;
            }
        }
    }
}
