/* === Variables === */

$mainColor              : #6c0002;
$headerbg               : #414141;
$headerlinkcolor        : #A5A5A5;
$headerlinkhover        : #C0C0C0;
$white                  : white;
$transparent            : transparent;
$zero                   : 0;
$ten                    : 10px;
