/* === Importing Helpers === */
/* === Variables === */
/* === Mixins === */
/* === Importing Layout === */
/* === Header === */
header section {
  background: #414141; }
  header section .container {
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 620px) {
      header section .container {
        display: block;
        padding: 10px 0;
        height: auto; } }
    header section .container > ul li {
      display: inline-block;
      padding: 0 10px; }
      header section .container > ul li:not(:last-child) {
        border-right: 1px solid #A5A5A5; }
      header section .container > ul li a {
        display: block;
        color: #A5A5A5; }
        header section .container > ul li a:hover {
          color: #C0C0C0; }
      @media (max-width: 620px) {
        header section .container > ul li {
          display: inline-block;
          margin-bottom: 10px;
          padding: 0;
          border-right: 0 !important; }
          header section .container > ul li a {
            padding: 0 10px; } }
    header section .container div {
      margin-right: 10px; }
      header section .container div > button {
        background: transparent;
        border: 0;
        color: #A5A5A5;
        outline: 0;
        cursor: pointer; }
        header section .container div > button:first-child {
          display: none; }
          @media (max-width: 620px) {
            header section .container div > button:first-child {
              display: inline-block; } }
        header section .container div > button:nth-child(2) {
          display: inline-block; }
      header section .container div form {
        position: relative;
        margin-right: 5px;
        display: inline-block;
        z-index: 999; }
        @media (max-width: 620px) {
          header section .container div form {
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%; }
            header section .container div form:hover input {
              width: 100%; }
            header section .container div form.toggle {
              display: none; } }
        header section .container div form button {
          color: #A5A5A5;
          background: transparent;
          border: 0;
          padding: 6px 8px;
          outline: 0;
          transform: translateX(-30px);
          position: absolute;
          cursor: pointer; }
          @media (max-width: 620px) {
            header section .container div form button {
              padding: 5px 8px;
              position: absolute;
              top: 1px;
              right: -30px; } }
        header section .container div form input {
          border-right: 0;
          border-radius: 15px;
          border: 2px solid #A5A5A5;
          outline: 0;
          padding: 5px 10px;
          height: 30px;
          width: 200px;
          transition: width 0.3s ease-in-out; }
          @media (max-width: 620px) {
            header section .container div form input {
              width: 100%;
              border-radius: 0; } }
      header section .container div ul {
        display: none;
        position: absolute;
        bottom: -40px;
        right: 15px;
        background: #414141;
        min-width: 150px;
        height: 40px;
        line-height: 40px;
        justify-content: space-around;
        align-items: center;
        z-index: 999; }
        header section .container div ul li {
          display: inline-block;
          height: 100%;
          width: 25%; }
          header section .container div ul li:not(:last-child) {
            border-right: 1px solid #222; }
          header section .container div ul li a {
            display: block;
            padding: 0 15px;
            color: #A5A5A5; }
            header section .container div ul li a:hover {
              color: #DA0060; }
        header section .container div ul.toggle {
          display: flex;
          justify-content: center;
          align-items: center; }
        @media (max-width: 620px) {
          header section .container div ul {
            right: 0;
            left: 0; } }
      @media (max-width: 620px) {
        header section .container div {
          margin-right: 0; } }
header main {
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 3px 0 rgba(0, 0, 0, 0.19), 0 3px 3px 0 rgba(0, 0, 0, 0.23); }
  header main figure a {
    display: block;
    width: 90px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out; }
    header main figure a img {
      width: 100%; }
  @media (max-width: 620px) {
    header main figure {
      margin: 5px 20px; } }
  header main nav {
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header main nav > div {
      display: inline-block;
      position: relative;
      border: 1px solid #666;
      margin-right: 15px;
      font-size: 20px;
      border-radius: 3px; }
      header main nav > div:hover {
        border: 1px solid #DA0060;
        color: #DA0060; }
        header main nav > div:hover div {
          opacity: 1;
          visibility: visible; }
      header main nav > div a {
        display: block;
        padding: 10px 15px;
        color: #666; }
        header main nav > div a > span.ui.red.label, header main nav > div a span.ui.red.labels .label {
          background: #DA0060 !important; }
      header main nav > div > div {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        min-width: 360px;
        min-height: 125px;
        background: white;
        padding: 10px;
        box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.1);
        top: 54px;
        left: -8px;
        z-index: 1; }
        header main nav > div > div::before {
          content: '';
          position: absolute;
          top: -14px;
          left: 5%;
          width: 28px;
          height: 28px;
          background: white;
          box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        header main nav > div > div .empty {
          font-size: 15px;
          text-align: center;
          font-style: italic;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        header main nav > div > div .busy li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          border-bottom: 1px dashed #A5A5A5; }
          header main nav > div > div .busy li .image {
            width: 100px;
            height: 100px; }
            header main nav > div > div .busy li .image img {
              width: 100%; }
          header main nav > div > div .busy li > div {
            display: inline-block;
            text-align: center; }
            header main nav > div > div .busy li > div > div:first-child {
              max-width: 210px; }
              header main nav > div > div .busy li > div > div:first-child a {
                color: #666; }
            header main nav > div > div .busy li > div > div:nth-child(2) {
              font-size: 14px; }
          header main nav > div > div .busy li > button {
            width: 25px;
            height: 25px;
            line-height: 12.5px;
            text-align: center;
            border-radius: 50%;
            border: 2px solid;
            background: transparent;
            padding: 0;
            cursor: pointer; }
            header main nav > div > div .busy li > button:hover i {
              color: #DA0060; }
        header main nav > div > div .busy > div {
          margin-top: 10px; }
          header main nav > div > div .busy > div span:first-child {
            color: #666;
            font-weight: bold;
            margin-right: 3px; }
          header main nav > div > div .busy > div span:last-child {
            color: #666;
            font-size: 15px; }
        @media (max-width: 767px) {
          header main nav > div > div {
            left: -303px; }
            header main nav > div > div::before {
              left: 87%; } }
        @media (max-width: 450px) {
          header main nav > div > div {
            display: none; } }
    header main nav > button {
      display: none;
      border: 1px solid #666;
      padding: 10px 15px;
      color: #666;
      font-size: 20px;
      background: white;
      margin-right: 15px;
      border-radius: 3px;
      cursor: pointer; }
      header main nav > button:hover {
        border: 1px solid #DA0060;
        color: #DA0060; }
      @media (max-width: 767px) {
        header main nav > button {
          display: inline-block; } }
    header main nav > ul span {
      display: none;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 50%;
      background: #DA0060;
      color: white;
      margin-bottom: 15px;
      position: relative;
      top: 1%;
      left: 90%;
      cursor: pointer; }
    header main nav > ul > li {
      position: relative;
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 25px; }
      header main nav > ul > li:hover {
        border: 1px solid #DA0060; }
        header main nav > ul > li:hover a {
          color: #DA0060; }
      header main nav > ul > li.active {
        border: 1px solid #DA0060; }
        header main nav > ul > li.active a {
          color: #DA0060; }
      header main nav > ul > li a {
        display: block;
        padding: 10px 15px;
        color: #666;
        font-size: 16px; }
      header main nav > ul > li div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 40px;
        max-width: 400px;
        height: auto;
        border: 1px solid #e3e2e2;
        box-shadow: 0 2px 2px #cccccc;
        padding: 15px;
        background: white;
        white-space: nowrap;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        z-index: 2; }
        header main nav > ul > li div > ul h3 {
          color: #666; }
        header main nav > ul > li div > ul li {
          display: block; }
        @media (max-width: 880px) {
          header main nav > ul > li div {
            top: 40px; } }
        @media (max-width: 767px) {
          header main nav > ul > li div {
            max-width: 100%; } }
      header main nav > ul > li:hover div {
        opacity: 1;
        visibility: visible; }
    @media (max-width: 767px) {
      header main nav > ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: #FFF;
        width: 100%;
        height: 100%;
        margin-top: 0 !important;
        overflow-y: scroll;
        z-index: 999; }
        header main nav > ul > span {
          display: block; }
        header main nav > ul > li {
          display: block; }
          header main nav > ul > li > div {
            display: block;
            position: static;
            width: 100%;
            height: auto;
            text-align: center;
            padding: 5px 0;
            box-shadow: none;
            border: 0;
            opacity: 1;
            visibility: visible; }
            header main nav > ul > li > div > ul {
              margin: 0;
              display: inline-block; } }
    @media (max-width: 767px) {
      header main nav {
        margin-right: 0 !important;
        text-align: center;
        display: block; }
        header main nav > a {
          display: inline-block; }
        header main nav > ul {
          margin: 10px 0; } }
  header main.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10; }
    header main.fixed figure a {
      width: 70px; }

/* === Footer === */
body > footer {
  background: #E0E0E0; }
  body > footer main {
    padding: 60px 0;
    overflow: hidden; }
    body > footer main .container > div {
      text-align: left;
      margin-bottom: 25px !important;
      padding: 10px; }
      body > footer main .container > div h4 {
        color: black; }
      body > footer main .container > div table {
        width: 100%; }
        body > footer main .container > div table tr {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px; }
        body > footer main .container > div table td:first-child {
          width: 10%; }
        body > footer main .container > div table ~ ul li {
          display: inline-block;
          margin-bottom: 0px;
          margin-right: 5px;
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 50%;
          border: 1px solid #A5A5A5;
          text-align: center; }
          body > footer main .container > div table ~ ul li a {
            display: block; }
          body > footer main .container > div table ~ ul li:hover {
            background: white; }
      body > footer main .container > div a {
        color: black; }
        body > footer main .container > div a:hover {
          color: #DA0060; }
      body > footer main .container > div li {
        margin-bottom: 10px; }
        body > footer main .container > div li a {
          display: block; }
      body > footer main .container > div p {
        color: black; }
      body > footer main .container > div form {
        width: 100%;
        height: 30px;
        line-height: 30px; }
        body > footer main .container > div form input {
          width: 60%;
          height: 100%;
          border-radius: 20px;
          border: 0;
          outline: 0;
          padding: 5px 10px; }
          body > footer main .container > div form input:focus ~ button {
            color: white;
            background-color: #DA0060; }
        body > footer main .container > div form button {
          display: inline-block;
          width: 45px;
          height: 30px;
          transform: translate(-25px, 1px);
          border: 0;
          outline: 0;
          color: black;
          background-color: white;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          transition: all 0.3s ease-in-out; }
          body > footer main .container > div form button:hover {
            color: white;
            background-color: #DA0060; }
      @media (max-width: 991px) {
        body > footer main .container > div {
          text-align: center; } }
  body > footer > div.sub-footer {
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding: 15px 0; }
    body > footer > div.sub-footer ul {
      margin: 10px 0; }
      body > footer > div.sub-footer ul li {
        display: inline-block;
        padding: 0 15px; }
        body > footer > div.sub-footer ul li a {
          display: block;
          color: #C0C0C0; }
      body > footer > div.sub-footer ul li:not(:last-child) {
        border-right: 1px solid #A5A5A5; }
    body > footer > div.sub-footer p {
      color: #C0C0C0; }
      body > footer > div.sub-footer p a {
        font-weight: bold;
        color: #DA0060; }
  @media (max-width: 767px) {
    body > footer .container .span_4_of_12 {
      width: 100% !important; }
    body > footer .container .col {
      margin-left: 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body > footer .container .span_4_of_12 {
      width: 49.2%; }
    body > footer .container .col:nth-child(2n+1) {
      margin-left: 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    body > footer .container .col:nth-child(3n+1) {
      margin-left: 0; } }
  @media (min-width: 1200px) {
    body > footer .container .col:nth-child(3n+1) {
      margin-left: 0; } }

/* === Main Style === */
* {
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.image-parent {
  overflow: hidden;
  vertical-align: middle;
  position: relative; }

.image-cover {
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* === Category === */
header ~ main {
  padding: 60px 0 !important; }
  header ~ main .col {
    padding: 10px;
    /* === Vertical Layout === */
    /* === Horizontal Layout === */
    /* === jQuery Classes === */
    /* === Pagination === */ }
    header ~ main .col > ul:first-child {
      text-align: left; }
      header ~ main .col > ul:first-child li {
        display: inline-block;
        padding: 5px 8px;
        background: transparent;
        color: black;
        font-size: 15px;
        cursor: pointer; }
        header ~ main .col > ul:first-child li:hover {
          color: #DA0060; }
        header ~ main .col > ul:first-child li.active {
          color: #DA0060; }
    header ~ main .col #vertical-layout {
      display: none;
      border-radius: 5px; }
      header ~ main .col #vertical-layout .col > div {
        height: 370px;
        padding: 10px;
        text-align: left;
        border: 1px solid #A5A5A5;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden; }
        header ~ main .col #vertical-layout .col > div:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
          header ~ main .col #vertical-layout .col > div:hover img {
            transform: translate(-50%, -50%) scale(1.2); }
          header ~ main .col #vertical-layout .col > div:hover > div:last-of-type ul li:last-of-type a {
            background-color: #DA0060; }
          header ~ main .col #vertical-layout .col > div:hover div.addTo {
            top: 150px; }
        header ~ main .col #vertical-layout .col > div .image {
          height: 210px; }
          header ~ main .col #vertical-layout .col > div .image img {
            width: 100%;
            transition: transform 0.5s ease-in-out; }
        header ~ main .col #vertical-layout .col > div > div:last-of-type {
          height: 140px; }
          header ~ main .col #vertical-layout .col > div > div:last-of-type ul {
            height: 100%; }
            header ~ main .col #vertical-layout .col > div > div:last-of-type ul li {
              height: 33.33%;
              display: flex;
              justify-content: flex-start;
              align-items: center; }
              header ~ main .col #vertical-layout .col > div > div:last-of-type ul li:first-of-type a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center; }
                header ~ main .col #vertical-layout .col > div > div:last-of-type ul li:first-of-type a h4 {
                  color: #666; }
              header ~ main .col #vertical-layout .col > div > div:last-of-type ul li span {
                color: #DA0060;
                font-weight: bold;
                font-size: 20px; }
                header ~ main .col #vertical-layout .col > div > div:last-of-type ul li span.discount {
                  font-size: 14px;
                  color: #666;
                  font-style: italic;
                  text-decoration: line-through;
                  margin-right: 5px; }
              header ~ main .col #vertical-layout .col > div > div:last-of-type ul li:last-of-type a {
                border-radius: 3px;
                border: 1px solid transparent;
                padding: 5px 15px;
                color: white;
                background-color: #666;
                cursor: pointer;
                outline: 0;
                transition: background-color 0.5s ease-in-out; }
                header ~ main .col #vertical-layout .col > div > div:last-of-type ul li:last-of-type a:hover {
                  background-color: #DA0060; }
        header ~ main .col #vertical-layout .col > div div.addTo {
          position: absolute;
          top: -80px;
          left: 15px;
          transition: all 0.3s ease-in-out; }
          header ~ main .col #vertical-layout .col > div div.addTo a {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 3px;
            border-radius: 3px;
            color: white;
            background: #666; }
            header ~ main .col #vertical-layout .col > div div.addTo a:hover {
              background: #DA0060; }
      @media (max-width: 767px) {
        header ~ main .col #vertical-layout .col.span_3_of_12 {
          width: 100% !important; }
        header ~ main .col #vertical-layout .col.col {
          margin-left: 0;
          text-align: center; } }
      @media (min-width: 768px) and (max-width: 991px) {
        header ~ main .col #vertical-layout .col.span_3_of_12 {
          width: 32.26% !important; }
        header ~ main .col #vertical-layout .col.col:nth-child(3n+1) {
          margin-left: 0; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        header ~ main .col #vertical-layout .col.col:nth-child(4n+1) {
          margin-left: 0; } }
      @media (min-width: 1200px) {
        header ~ main .col #vertical-layout .col.col:nth-child(4n+1) {
          margin-left: 0; } }
    header ~ main .col #horizontal-layout {
      display: none;
      padding: 10px 0; }
      header ~ main .col #horizontal-layout:hover > div > div:last-of-type a:last-child {
        background-color: #DA0060; }
      header ~ main .col #horizontal-layout > div {
        border: 1px solid #A5A5A5;
        border-radius: 5px;
        width: 100%;
        height: 250px;
        margin-bottom: 15px;
        clear: both;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden; }
        header ~ main .col #horizontal-layout > div:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
          header ~ main .col #horizontal-layout > div:hover div.addTo {
            top: 175px; }
        header ~ main .col #horizontal-layout > div .image {
          width: 20%;
          height: 100%;
          float: left; }
          header ~ main .col #horizontal-layout > div .image img {
            width: 100%; }
        header ~ main .col #horizontal-layout > div > div:last-of-type {
          width: 80%;
          height: 100%;
          text-align: left;
          padding-left: 10px;
          float: right; }
          header ~ main .col #horizontal-layout > div > div:last-of-type a:first-child {
            display: block;
            padding: 10px 0;
            color: #666; }
          header ~ main .col #horizontal-layout > div > div:last-of-type > div {
            margin-bottom: 30px; }
            header ~ main .col #horizontal-layout > div > div:last-of-type > div span {
              color: #DA0060;
              font-weight: bold;
              font-size: 20px; }
              header ~ main .col #horizontal-layout > div > div:last-of-type > div span.discount {
                font-size: 14px;
                color: #666;
                font-style: italic;
                text-decoration: line-through;
                margin-right: 5px; }
          header ~ main .col #horizontal-layout > div > div:last-of-type p {
            font-size: 16px;
            color: #666;
            margin: 0; }
          header ~ main .col #horizontal-layout > div > div:last-of-type a:last-child {
            display: inline-block;
            margin-top: 15px;
            border-radius: 3px;
            border: 1px solid transparent;
            padding: 5px 15px;
            color: white;
            background-color: #666;
            cursor: pointer;
            outline: 0;
            transition: background-color 0.5s ease-in-out; }
            header ~ main .col #horizontal-layout > div > div:last-of-type a:last-child:hover {
              background-color: #DA0060; }
        @media (max-width: 767px) {
          header ~ main .col #horizontal-layout > div {
            height: 350px; }
            header ~ main .col #horizontal-layout > div .image {
              width: 100%;
              height: 210px; }
            header ~ main .col #horizontal-layout > div > div:last-of-type {
              width: 100%;
              height: 140px; }
              header ~ main .col #horizontal-layout > div > div:last-of-type > div {
                margin-bottom: 15px; }
              header ~ main .col #horizontal-layout > div > div:last-of-type p {
                display: none; }
            header ~ main .col #horizontal-layout > div:hover div.addTo {
              top: 135px; } }
      header ~ main .col #horizontal-layout div.addTo {
        position: absolute;
        top: -80px;
        left: 5px;
        transition: all 0.3s ease-in-out; }
        header ~ main .col #horizontal-layout div.addTo a {
          display: block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          margin-bottom: 3px;
          border-radius: 3px;
          color: white;
          background: #666; }
          header ~ main .col #horizontal-layout div.addTo a:hover {
            background: #DA0060; }
    header ~ main .col #vertical-layout.on {
      display: block; }
    header ~ main .col #horizontal-layout.on {
      display: block; }
    header ~ main .col > ul:last-child {
      text-align: right; }
      header ~ main .col > ul:last-child li {
        display: inline-block;
        background: #666;
        font-size: 15px;
        border-radius: 3px; }
        header ~ main .col > ul:last-child li:hover {
          background: #DA0060; }
        header ~ main .col > ul:last-child li a {
          display: block;
          padding: 5px 8px;
          color: white; }

/*# sourceMappingURL=category.css.map */
