/* === Articles === */

section ~ article {
    padding: 60px 0;
    section {
        height: 370px;
        margin-bottom: 20px !important;
        h3 {
            color: $textColor;
        }
        div:nth-child(2) {
            height: 210px;
            img {
                width: 100%;
            }
        }
        div:last-child {
            height: 140px;
            p {
                color: $textColor;
                height: 54px;
                overflow: hidden;
                padding-top: 5%;
                margin-bottom: 0;
            }
            a {
                display: inline-block;
                margin-top: 10px;
                @include main-button($padding: 5px 35px);
                &:hover {
                    background-color: $mainColor;
                }
            }
        }
    }
    // Media Queries
    .container {
        @media (max-width: 767px) {
            .span_4_of_12 {
                width: 100% !important;
            }
            .col {
                margin-left: 0;
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .span_4_of_12 {
                width: 49.2%;
            }
            .col:nth-child(2n+1) {
                margin-left: 0;
            }
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            .col:nth-child(3n+1) {
                margin-left: 0;
            }
        }

        @media (min-width: 1200px) {
            .col:nth-child(3n+1) {
                margin-left: 0;
            }
        }
    }
}

/* === Media Query === */

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}
