/* === Header === */

header {
    // Top Bar
    section {
        background: $headerbg;
        height: 50px;
        @include flexbox($justify-content: space-between);
        ul li {
            display: inline-block;
            padding: $zero $ten;
            &:not(:last-child) {
                border-right: 1px solid $headerlinkcolor;
            }
            a {
                display: block;
                color: $headerlinkcolor;
                &:hover {
                    color: $headerlinkhover;
                }
            }
        }
        div {
            margin-right: 5px;
        }
        div > button {
            display: none;
            @media (max-width: 450px) {
                display: block;
                background: $transparent;
                border: $zero;
                color: $headerlinkcolor;
                outline: $zero;
            }
        }
        div form {
            &:hover input {
                width: 200px;
                &::-webkit-input-placeholder {
                   font-size: initial;
                }
                &:-moz-placeholder {
                   font-size: initial;
                }
                &::-moz-placeholder {
                   font-size: initial;
                }

                &:-ms-input-placeholder {
                   font-size: initial;
                }
                @media (max-width: 450px) {
                    width: 100%;
                }
            }
            @media (max-width: 450px) {
                position: absolute;
                top: 50px;
                left: 0;
                width: 100%;
                &:hover input {
                    width: 100%;
                }
                &.toggle {
                    display: none;
                }
            }
        }
        div form button {
            color: $headerlinkcolor;
            background: $transparent;
            border: $zero;
            padding: 5px 2px;
            outline: $zero;
            transform: translateX(-27px);
            @media (max-width: 450px) {
                padding: 5px 10px;
                position: absolute;
                top: 2px;
                right: -25px;
            }
        }
        div form input {
            border-right: $zero;
            border-radius: 15px;
            border: 2px solid $headerlinkcolor;
            outline: $zero;
            padding: 5px $ten;
            height: 33px;
            width: 30px;
            transition: width 0.5s ease-in-out;
            &::-webkit-input-placeholder {
               font-size: $zero;
            }
            &:-moz-placeholder {
               font-size: $zero;
            }
            &::-moz-placeholder {
               font-size: $zero;
            }
            &:-ms-input-placeholder {
               font-size: $zero;
            }
            @media (max-width: 450px) {
                width: 100%;
                background: $white;
                &::-webkit-input-placeholder {
                   font-size: initial;
                }
                &:-moz-placeholder {
                   font-size: initial;
                }
                &::-moz-placeholder {
                   font-size: initial;
                }
                &:-ms-input-placeholder {
                   font-size: initial;
                }
            }
            &:focus {
                width: 200px;
            }
        }

    }
    // Main Header
    main {
        padding: 33px $zero 5px;
        @include flexbox($justify-content: space-between);
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        nav {
            margin-right: 15px;
            @include flexbox($justify-content: space-between);
            // Cart
            > a {
                position: relative;
                border: 1px solid #666;
                margin-right: 15px;
                padding: $ten 15px;
                color: #666;
                font-size: 20px;
                &:hover {
                    border: 1px solid $mainColor;
                    color: $mainColor;
                    & div {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                span.ui.red.label, span.ui.red.labels .label {
                    background: $mainColor !important;
                }
                div {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    min-width: 360px;
                    min-height: 125px;
                    background: $white;
                    padding: $ten;
                    box-shadow:0 0px 5px 1px rgba(0, 0, 0, 0.1);
                    position: absolute;
                    top: 54px;
                    left: 0px;
                    z-index: 1;
                    &::before {
                        content: '';
                        position: absolute;
                        top: -14px;
                        left: 5%;
                        width: 28px;
                        height: 28px;
                        background: $white;
                        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    .empty {
                        font-size: 15px;
                        text-align: center;
                        font-style: italic;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                }
                @media (max-width: 767px) {
                    margin-right: 20px !important;
                }
            }
            > button {
                display: none;
                border: 1px solid #666;
                padding: $ten;
                color: #666;
                font-size: 20px;
                background: white;
                &:hover {
                    border: 1px solid $mainColor;
                    color: $mainColor;
                }
                @media (max-width: 767px) {
                    display: inline-block;
                }
            }
            > ul {
                span {
                    display: none;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 50%;
                    background: $mainColor;
                    color: $white;
                    margin-bottom: 15px;
                    position: relative;
                    top: 1%;
                    left: 90%;
                    cursor: pointer;
                }
                @media (max-width: 767px) {
                    display: none;
                    position: absolute;
                    top: 0;
                    background: #FFF;
                    width: 100%;
                    height: 100%;
                    margin-top: 0 !important;
                    z-index: 999;
                    > span {
                        display: block;
                    }
                    > li {
                        display: block !important;
                        > div {
                            display: block !important;
                            position: static !important;
                            width: 100% !important;
                            height: auto !important;
                            text-align: center !important;
                            padding: 5px 0 !important;
                            box-shadow: none !important;
                            border: 0 !important;
                            opacity: 1 !important;
                            visibility: visible !important;
                            > ul {
                                margin: 0 !important;
                                display: inline-block !important;
                            }
                        }
                    }
                }
            }
            ul li {
                position: relative;
                display: inline-block;
                border: 1px solid $transparent;
                &:hover {
                    border: 1px solid $mainColor;
                    a {
                        color: $mainColor;
                    }
                }
                &.active {
                    a {
                        color: $mainColor;
                    }
                    border: 1px solid $mainColor;
                }
                a {
                    display: block;
                    padding: $ten 15px;
                    color: #666;
                    font-size: 16px;
                }
                // Sub-Menu
                div {
                    @include flexbox($align-items: flex-start);
                    position: absolute;
                    top: 40px;
                    max-width: 400px;
                    height: auto;
                    border: 1px solid #e3e2e2;
                    box-shadow: 0 2px 2px #cccccc;
                    padding: 15px;
                    background: $white;
                    white-space: nowrap;
                    text-align: left;
                    opacity: 0;
                    visibility: hidden;
                    > ul h3 {
                        color: #666;
                    }
                    > ul li {
                        display: block;
                    }
                    @media (max-width: 880px) {
                        top: 40px;
                    }
                    @media (max-width: 767px) {
                        max-width: 100%;
                    }
                }
                &:hover div {
                    opacity: 1;
                    visibility: visible;
                }
            }
            @media (max-width: 767px) {
                margin-right: 0 !important;
            }
        }
        @media (max-width: 880px) {
            display: block;
            figure {
                display: block;
                text-align: center;
            }
            nav {
                text-align: center;
                display: block;
                > a {
                    display: inline-block;
                    margin: 10px 0;
                }
                ul {
                    margin: 10px 0;
                }
            }
        }
    }
}
