/* === Header === */

header {
    // Top Bar
    section {
        background: $headerbg;
        .container {
            height: 50px;
            @include flexbox($justify-content: space-between);
            > ul li {
                display: inline-block;
                padding: $zero $ten;
                &:not(:last-child) {
                    border-right: 1px solid $headerlinkcolor;
                }
                a {
                    display: block;
                    color: $headerlinkcolor;
                    &:hover {
                        color: $headerlinkhover;
                    }
                }
            }
            div {
                margin-right: $ten;
                > button {
                    background: $transparent;
                    border: $zero;
                    color: $headerlinkcolor;
                    outline: $zero;
                    &:first-child {
                        display: none;
                        @media (max-width: 471px) { //460px
                            display: inline-block;
                        }
                    }
                    &:nth-child(2) {
                        display: inline-block;
                    }
                }
                ul {
                    display: none;
                    position: absolute;
                    top: 50px;
                    right: 125px;
                    background: $headerbg;
                    min-width: 150px;
                    height: 40px;
                    line-height: 40px;
                    justify-content: space-around;
                    align-items: center;
                    @media (max-width: 1200px) {
                        right: 15px;
                    }
                    li {
                        display: inline-block;
                        height: 100%;
                        width: 25%;
                        &:not(:last-child) {
                            border-right: 1px solid #222;
                        }
                        a {
                            display: block;
                            padding: 0 15px;
                            color: $headerlinkcolor;
                            &:hover {
                                color: $mainColor;
                            }
                        }
                    }
                    &.toggle {
                        @include flexbox;
                    }
                }
                form {
                    position: relative;
                    margin-right: 5px;
                    display: inline-block;
                    &:hover input {
                        width: 200px;
                        &::-webkit-input-placeholder {
                           font-size: initial;
                        }
                        &:-moz-placeholder {
                           font-size: initial;
                        }
                        &::-moz-placeholder {
                           font-size: initial;
                        }

                        &:-ms-input-placeholder {
                           font-size: initial;
                        }
                        @media (max-width: 471px) { //460px
                            width: 100%;
                        }
                    }
                    @media (max-width: 471px) { //460px
                        position: absolute;
                        top: 50px;
                        left: 0;
                        width: 100%;
                        &:hover input {
                            width: 100%;
                        }
                        &.toggle {
                            display: none;
                        }
                    }
                    button {
                        color: $headerlinkcolor;
                        background: $transparent;
                        border: $zero;
                        padding: 5px 8px;
                        outline: $zero;
                        transform: translateX(-30px);
                        position: absolute;
                        @media (max-width: 460px) {
                            padding: 5px 8px;
                            position: absolute;
                            top: 1px;
                            right: -30px;
                        }
                    }
                    input {
                        border-right: $zero;
                        border-radius: 15px;
                        border: 2px solid $headerlinkcolor;
                        outline: $zero;
                        padding: 5px $ten;
                        height: 30px;
                        width: 30px;
                        transition: width 0.3s ease-in-out;
                        &::-webkit-input-placeholder {
                           font-size: $zero;
                        }
                        &:-moz-placeholder {
                           font-size: $zero;
                        }
                        &::-moz-placeholder {
                           font-size: $zero;
                        }
                        &:-ms-input-placeholder {
                           font-size: $zero;
                        }
                        &:focus {
                            width: 200px;
                        }
                        @media (max-width: 460px) {
                            width: 100%;
                            background: $white;
                            &:focus {
                                width: 100%;
                            }
                            &::-webkit-input-placeholder {
                               font-size: initial;
                            }
                            &:-moz-placeholder {
                               font-size: initial;
                            }
                            &::-moz-placeholder {
                               font-size: initial;
                            }
                            &:-ms-input-placeholder {
                               font-size: initial;
                            }
                        }

                    }
                }
            }
        }
    }

    // Main Header
    main {
        padding: 33px $zero 5px;
        @include flexbox($justify-content: space-between);
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        box-shadow: -3px -3px 3px 0 rgba(0,0,0,0.19),
                    3px 0 3px 0 rgba(0,0,0,0.19),
                    0 3px 3px 0 rgba(0,0,0,0.23);
        figure {
            a {
                display: block;
                width: 90px;
                margin: 0 auto;
                transition: all 0.3s ease-in-out;
                img {
                    width: 100%;
                }
            }
        }
        nav {
            margin-right: 15px;
            @include flexbox($justify-content: space-between);
            // Cart
            > a {
                position: relative;
                border: 1px solid $textColor;
                margin-right: 15px;
                padding: $ten 15px;
                color: $textColor;
                font-size: 20px;
                &:hover {
                    border: 1px solid $mainColor;
                    color: $mainColor;
                    & div {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                span.ui.red.label, span.ui.red.labels .label {
                    background: $mainColor !important;
                }
                div {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    min-width: 360px;
                    min-height: 125px;
                    background: $white;
                    padding: $ten;
                    box-shadow:0 0px 5px 1px rgba(0, 0, 0, 0.1);
                    position: absolute;
                    top: 54px;
                    left: -8px;
                    z-index: 1;
                    &::before {
                        content: '';
                        position: absolute;
                        top: -14px;
                        left: 5%;
                        width: 28px;
                        height: 28px;
                        background: $white;
                        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    .empty {
                        font-size: 15px;
                        text-align: center;
                        font-style: italic;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                }
                @media (max-width: 767px) {
                    margin-right: 20px !important;
                }
            }
            > button {
                display: none;
                border: 1px solid $textColor;
                padding: $ten;
                color: $textColor;
                font-size: 20px;
                background: white;
                &:hover {
                    border: 1px solid $mainColor;
                    color: $mainColor;
                }
                @media (max-width: 767px) {
                    display: inline-block;
                }
            }
            > ul {
                span {
                    display: none;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 50%;
                    background: $mainColor;
                    color: $white;
                    margin-bottom: 15px;
                    position: relative;
                    top: 1%;
                    left: 90%;
                    cursor: pointer;
                }
                @media (max-width: 767px) {
                    display: none;
                    position: fixed;
                    top: 0;
                    background: #FFF;
                    width: 100%;
                    height: 100%;
                    margin-top: 0 !important;
                    overflow-y: scroll;
                    z-index: 999;
                    > span {
                        display: block;
                    }
                    > li {
                        display: block !important;
                        > div {
                            display: block !important;
                            position: static !important;
                            width: 100% !important;
                            height: auto !important;
                            text-align: center !important;
                            padding: 5px 0 !important;
                            box-shadow: none !important;
                            border: 0 !important;
                            opacity: 1 !important;
                            visibility: visible !important;
                            > ul {
                                margin: 0 !important;
                                display: inline-block !important;
                            }
                        }
                    }
                }
            }
            ul li {
                position: relative;
                display: inline-block;
                border: 1px solid $transparent;
                &:hover {
                    border: 1px solid $mainColor;
                    a {
                        color: $mainColor;
                    }
                }
                &.active {
                    a {
                        color: $mainColor;
                    }
                    border: 1px solid $mainColor;
                }
                a {
                    display: block;
                    padding: $ten 15px;
                    color: $textColor;
                    font-size: 16px;
                }
                // Sub-Menu
                div {
                    @include flexbox($align-items: flex-start);
                    position: absolute;
                    top: 40px;
                    max-width: 400px;
                    height: auto;
                    border: 1px solid #e3e2e2;
                    box-shadow: 0 2px 2px #cccccc;
                    padding: 15px;
                    background: $white;
                    white-space: nowrap;
                    text-align: left;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;
                    > ul h3 {
                        color: $textColor;
                    }
                    > ul li {
                        display: block;
                    }
                    @media (max-width: 880px) {
                        top: 40px;
                    }
                    @media (max-width: 767px) {
                        max-width: 100%;
                    }
                }
                &:hover div {
                    opacity: 1;
                    visibility: visible;
                }
            }
            @media (max-width: 767px) {
                margin-right: 0 !important;
            }
        }
        @media (max-width: 880px) {
            display: block;
            figure {
                display: block;
                text-align: center;
            }
            nav {
                text-align: center;
                display: block;
                > a {
                    display: inline-block;
                    margin: 10px 0;
                }
                ul {
                    margin: 10px 0;
                }
            }
        }
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: white;
            z-index: 10;
            figure {
                a {
                    width: 70px;
                }
            }
        }
    }
}
